# Variáveis geradas automaticamente pela Vercel ao ativar o Postgres e Blob no painel:
# BLOB_READ_WRITE_TOKEN=vercel_blob_rw_xxxxxxxx
# POSTGRES_URL=postgres://...

# Variáveis personalizadas para acesso do Administrador da seção:
ADMIN_USER=root
ADMIN_SECRET_KEY=aeromovel2026